SCD/SOA_Eureka_SCD_WESTAG.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="Eureka_SCD" targetNamespace="urn:Eureka_SCD" xmlns:typens="urn:Eureka_SCD" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Eureka_SCD">
			<xsd:complexType name="Customer_Informations">
				<xsd:all>
					<xsd:element name="CLIENT_ADR1" type="xsd:string" />
					<xsd:element name="CLIENT_ADR2" type="xsd:string" />
					<xsd:element name="CLIENT_CLDO" type="xsd:string" />
					<xsd:element name="CLIENT_CMPA" type="xsd:string" />
					<xsd:element name="CLIENT_CPOS" type="xsd:string" />
					<xsd:element name="CLIENT_EMAIL" type="xsd:string" />
					<xsd:element name="CLIENT_LIVR_ADR1"
						type="xsd:string" />
					<xsd:element name="CLIENT_LIVR_ADR2"
						type="xsd:string" />
					<xsd:element name="CLIENT_LIVR_CPOS"
						type="xsd:string" />
					<xsd:element name="CLIENT_LIVR_RSSC"
						type="xsd:string" />
					<xsd:element name="CLIENT_LIVR_VILL"
						type="xsd:string" />
     <xsd:element name="CLIENT_LIVR_TELP" type="string"></xsd:element> <xsd:element name="CLIENT_NCLI" type="xsd:string" />
					<xsd:element name="CLIENT_RSSC" type="xsd:string" />
					<xsd:element name="CLIENT_VILL" type="xsd:string" />
					<xsd:element name="CODE_ERROR" type="xsd:string" />
					<xsd:element name="MSG_ERROR" type="xsd:string" />
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="Get_Customer_Informations">
		<part name="LOGI" type="xsd:string"/>
		<part name="PASSWD" type="xsd:string"/>
		<part name="NCLI" type="xsd:string"/>
	</message>
	<message name="Get_Customer_InformationsResponse">
		<part name="Get_Customer_InformationsReturn" type="typens:Customer_Informations"/>
	</message>
	<message name="Set_Orders_XML">
		<part name="LOGI" type="xsd:string"/>
		<part name="PASSWD" type="xsd:string"/>
		<part name="XML" type="xsd:string"/>
	</message>
	<message name="Set_Orders_XMLResponse">
		<part name="Set_Orders_XMLReturn" type="xsd:string"/>
	</message>
	<portType name="WS_SCDPortType">
		<operation name="Get_Customer_Informations">
			<input message="typens:Get_Customer_Informations"/>
			<output message="typens:Get_Customer_InformationsResponse"/>
		</operation>
		<operation name="Set_Orders_XML">
			<input message="typens:Set_Orders_XML"/>
			<output message="typens:Set_Orders_XMLResponse"/>
		</operation>
	</portType>
	<binding name="WS_SCDBinding" type="typens:WS_SCDPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Get_Customer_Informations">
			<soap:operation soapAction="urn:WS_SCDAction"/>
			<input>
				<soap:body namespace="urn:Eureka_SCD" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Eureka_SCD" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="Set_Orders_XML">
			<soap:operation soapAction="urn:WS_SCDAction"/>
			<input>
				<soap:body namespace="urn:Eureka_SCD" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Eureka_SCD" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="Eureka_SCDService">
		<port name="WS_SCDPort" binding="typens:WS_SCDBinding">
			<soap:address location="http://37.157.228.82:4443/SCD/WS_SCD_WESTAG.php"/>
		</port>
	</service>
</definitions>
